certifi==2025.10.5
click==8.1.8
contourpy==1.1.1
cycler==0.12.1
elasticsearch==7.17.9
Flask==1.0
fonttools==4.57.0
gevent==1.3.0
greenlet==3.1.1
gunicorn==23.0.0
hiredis==3.3.0
itsdangerous==2.0.1
Jinja2==2.10
kiwisolver==1.4.7
MarkupSafe==2.0.1
matplotlib==3.3.4
numpy==1.24.4
packaging==25.0
pillow==10.4.0
plotly==4.2.0
psycopg2-binary==2.9.10
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2025.2
redis==3.5.0
retrying==1.4.2
simplejson==3.20.2
six==1.17.0
SQLite4==0.1.1
urllib3==1.26.20
Werkzeug==2.0.3
zipp==3.20.2
