{% extends "layout.html" | front_ended %}

{% block title %}SBND Cryo Monitor{% endblock %}

{% block body %}
{{ super() }}
<h2 class="hcenter">
SBND Cryo Monitor
</h2>
<br>
<h5 class="hcenter">
"DB update" will flash red when the latest timestamp of a PV is older than 3 minutes
</h5>

<P>

<div class="row">

<div class="col-lg-4 col-md-4" style="padding:0">
<h4>West APA</h4>
<TABLE>
<TR><TH>PV</TH>
<TH>te-8107a</a></TH>
<TH>te-8112a</a></TH>
<TR align="center"><TD>value</TD>
<TD style="text-align:center"><a id="3554/value"></a></TD>
<TD style="text-align:center"><a id="3569/value"></a></TD>
<TR align="center"><TD>timestamp</TD>
<TD style="text-align:center"><a id="3554/last_read_time"></a></TD>
<TD style="text-align:center"><a id="3569/last_read_time"></a></TD>
<TR align="center"><TD>DB update</TD>
<TD style="text-align:center"><a id="3554/db_update">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></TD>
<TD style="text-align:center"><a id="3569/db_update">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></TD>
</TR>
</TABLE>
</div>

<div class="col-lg-4 col-md-4" style="padding:10">
<h4>East APA</h4>
<TABLE>
<TR><TH>PV</TH>
<TH>te-8101a</a></TH>
<TH>te-8106a</a></TH>
<TR align="center"><TD>value</TD>
<TD style="text-align:center"><a id="3536/value"></a></TD>
<TD style="text-align:center"><a id="3551/value"></a></TD>
<TR align="center"><TD>timestamp</TD>
<TD style="text-align:center"><a id="3536/last_read_time"></a></TD>
<TD style="text-align:center"><a id="3551/last_read_time"></a></TD>
<TR align="center"><TD>DB update</TD>
<TD style="text-align:center"><a id="3536/db_update">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></TD>
<TD style="text-align:center"><a id="3551/db_update">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></TD>
</TR>
</TABLE>
</div>

</div>

<br>
<br>

<div class="row">

<div class="col-lg-4 col-md-4" style="padding:0">
<h4>Cryo Bottom</h4>
<TABLE>
<TR><TH>PV</TH>
<TH>te-8062a</a></TH>
<TH>te-8022a</a></TH>
<TR align="center"><TD>value</TD>
<TD style="text-align:center"><a id="3413/value"></a></TD>
<TD style="text-align:center"><a id="3419/value"></a></TD>
<TR align="center"><TD>timestamp</TD>
<TD style="text-align:center"><a id="3413/last_read_time"></a></TD>
<TD style="text-align:center"><a id="3419/last_read_time"></a></TD>
<TR align="center"><TD>DB update</TD>
<TD style="text-align:center"><a id="3413/db_update">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></TD>
<TD style="text-align:center"><a id="3419/db_update">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></TD>
</TR>
</TABLE>
</div>

<div class="col-lg-3 col-md-3" style="padding:10">
<h4>Cryo Wall</h4>
<TABLE>
<TR><TH>PV</TH>
<TH>te-8035a</a></TH>
<TR align="center"><TD>value</TD>
<TD style="text-align:center"><a id="3458/value"></a></TD>
<TR align="center"><TD>timestamp</TD>
<TD style="text-align:center"><a id="3458/last_read_time"></a></TD>
<TR align="center"><TD>DB update</TD>
<TD style="text-align:center"><a id="3458/db_update">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></TD>
</TR>
</TABLE>
</div>

<div class="col-lg-4 col-md-4" style="padding:10">
<h4>Cryo Top</h4>
<TABLE>
<TR><TH>PV</TH>
<TH>te-8003a</a></TH>
<TR align="center"><TD>value</TD>
<TD style="text-align:center"><a id="3512/value"></a></TD>
<TR align="center"><TD>timestamp</TD>
<TD style="text-align:center"><a id="3512/last_read_time"></a></TD>
<TR align="center"><TD>DB update</TD>
<TD style="text-align:center"><a id="3512/db_update">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></TD>
</TR>
</TABLE>
</P>
</div>

</div>

{%endblock%}

{% block style %}
      table
      {
        border:1px solid black;padding:5px;font-size: 100%
      }
      td
      {
        text-align:right;
        border:1px solid grey;padding:5px;
      }
      th
      {
        text-align:center;
        border:1px solid grey;padding:5px;
      }
      body
      {
        margin: 28px;
      }
{% endblock %}

<!---->
{% block script %}

<link href="{{ url_for('static', filename='css/lights.css') }}" rel="stylesheet" type="text/css">
<script src="{{ url_for('static', filename='js/lights.js') }}"></script>
 
<!-- Populate above table -->
<script type="text/javascript">
$(document).ready(function() {
{%for row in rows%}
{
  var item_value = document.getElementById("{{row[0]}}"+"/value");
  var pv_value = "{{row[1]}}";
  item_value.innerHTML = "{{row[1]}}";

  var item_tstamp = document.getElementById("{{row[0]}}"+"/last_read_time");
  var pv_tstamp = "{{row[2]}}";
  item_tstamp.innerHTML = "{{row[2]}}";

  var alarm_time = {{row[3]}};
  var pv_dbupdate = {{row[4]}};
  var item_dbupdate = document.getElementById("{{row[0]}}"+"/db_update");
  if (pv_dbupdate > alarm_time)
  {
    <!-- item_dbupdate.innerHTML = "{{row[4]}}"; -->
    item_dbupdate.className = "led-red";
  }
  else
  item_dbupdate.className = "led-green";
}
{%endfor%}
});
</script>




<meta http-equiv="refresh" content="15">
<!-- </html> -->
{%endblock%}

