{% import "stream_options_macro.html" | common as stream_options %}

{% extends "layout.html" | front_ended %}
{% block title %}Cryo Stream{% endblock %}

{# Define macro to setup plot #}
{% macro plot_row() %}
<!-- Plot and Options -->
    <div class="row">
        <!-- Plot -->
        <div class="col-md-8">
            <!-- plotly div -->
            <div style="padding:0" id="plotly-controller"></div>
        </div>
        <!-- Options -->
        <div class="col-md-4 vcenter">
            <div class="card hcenter">
                <div class="card-header">Display Options</div>
                <div class="card-body">
                    <form class="form" role="form">
                        {{ stream_options.time_range("start", "end", "toggle") }}
                        {{ stream_options.download("download") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{# ------------------------------ Html Body --------------------------------- #}
{% block body %}
{{ super() }}
<!-- Variable Header -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-only-glyphicons.css') }}" media="screen">
<div class="container">
   <h1>Cryo Stream</h1>
   {{ plot_row() }} 
</div>
{% endblock %}

{# Define a macro to startup the javascript #}
{% macro run_stream(database, pv, config, ytitle, lo, hi) %}
{
    // Build the link
    var link = new module.Data.D3DataLink(new module.DataLink.CryoStreamLink($SCRIPT_ROOT, "{{ database }}", "{{ month }}", "{{ pv }}" ));
    
    // Create controller and pv names
    var controller  = "plotly-controller";
    var start_pv    = "#start";
    var end_pv      = "#end";
    var toggle_pv   = "#toggle";
    var download_pv = "#download";

    var config = {{config | tojson}};
    
    // Build plotly controller
    var plotly_controller = new module.PlotlyController(controller, link, [config["yTitle"]], config)
	.timeRangeController(start_pv, end_pv, toggle_pv)
	.downloadDataController(download_pv )
    plotly_controller.setYTitles(["{{ytitle}}"]);
    // plotly_controller.setYRanges([[{{lo}}, {{hi}}]]);
    
    // Start it
    plotly_controller.run();
}
{% endmacro %}


{% block script %}
<script defer type="module">
    import * as functor from "{{ url_for('static', filename='js/minargon/functor.js') }}";
    import * as module from "{{ url_for('static', filename='js/minargon/timeseries.js') }}";
    {{ run_stream(database, pv, configs, "Temperature [K]", 0, 500)}} 
</script>
{% endblock %}
{# ---------------------------------- End ----------------------------------- #}
