{% extends "layout.html" | front_ended %}
{% block title %}Introduction to Minargon{% endblock %}
{% block body %}
{{ super() }}

<style>
  tb. {
    width: 100%;
    border-collapse: collapse;
  }
  tb. th, tb td {text-align: left;}
</style>

<!-- <div class="col-md-8 hcenter"> -->
<div class="container">

<div class="row">
<h1>SBND Online Monitoring</h1>
</div>
<br>

<div class="row">

<div class="col-lg-3 col-md-3 col-sm-8" style="padding:0">
    <h5>External Links</h5>
    Shifter Feedback: <a href="https://docs.google.com/forms/d/e/1FAIpQLSeacwY7BIyRl7Z3bWRUjkXlYVJtcIg07pnkq0Rh1QshmJmGtg/viewform?usp=sf_link" target="_blank">click here</a>
    <br>
    Operations Wiki: <a href="https://cdcvs.fnal.gov/redmine/projects/sbnd-operations/wiki" target="_blank">click here</a>
    <br>
    BNB Status: <a href="https://dbweb8.fnal.gov:8443/ifbeam/bmon/bnbmon/Display" target="_blank">click here</a>
    <br>
    E-Log: <a href="https://dbweb0.fnal.gov/ECL/sbnd" target="_blank">click here</a>
    <br>
</div>

<div class="col-lg-3 col-md-3 col-sm-8" style="padding:0">
    <h5>Online Monitoring Wikis</h5>
    Public SBN Wiki: <a href="https://sbnsoftware.github.io/sbn_online_wiki/sbndqm_Wiki" target ="_blank">click here</a>
    <br>
    Regular Shifters: <a href="https://cdcvs.fnal.gov/redmine/projects/sbnd-operations/wiki/OnMonForShifter" target="_blank">click here</a>
    <br>
    Expert Shifters: <a href="https://cdcvs.fnal.gov/redmine/projects/sbnd-operations/wiki/OnMonExpert" target="_blank">click here</a>
    <br>
    DQM Experts: <a href = "https://cdcvs.fnal.gov/redmine/projects/sbnd/wiki/Dqmexpert" target="_blank">click here</a>
    <br>
</div>

<div class="col-lg-5 col-md-5 col-sm-12" style="padding:0">
  <h3 class="hcenter"> <a href="{{url_for('DriftHV_Heinzinger')}}">Drift HV Status</a></h3>
  <table class="table table-striped">
    <tr>
      <th style="width: 31%;"> Status:</a></th>
      <th><span id="DriftHV-Status"> </span></th>
    </tr>
    <tr>
      <th style="width: 41%;"> VMon 2-hr alarm log:</a></th>
      <th> # of samples: <span id="VMon-Nsamples"> </span>
      <table>
      <tbody style="font-size: 12px";>
        <tr>
          <td style="width: 31%;"> HI: </a></td>
          <th><span id="VMon-HI"> </span></th>
          <td style="width: 31%;"> HIHI: </a></td>
          <th><span id="VMon-HIHI"> </span></th>
        </tr>
        <tr>
          <th style="width: 31%;"> LO:</a></th>
          <th><span id="VMon-LO"> </span></th>
          <th style="width: 31%;"> LOLO:</a></th>
          <th><span id="VMon-LOLO"> </span></th>
        </tr>
      </table>
      </th>
    </tr>
    <tr>
      <th style="width: 41%;"> IMon 2-hr alarm log:</a></th>
      <th> # of samples: <span id="IMon-Nsamples"> </span>
      <table>
      <tbody style="font-size: 12px";>
        <tr>
          <td style="width: 31%;"> HI: </a></td>
          <th><span id="IMon-HI"> </span></th>
          <td style="width: 31%;"> HIHI: </a></td>
          <th><span id="IMon-HIHI"> </span></th>
        </tr>
        <tr>
          <th style="width: 31%;"> LO:</a></th>
          <th><span id="IMon-LO"> </span></th>
          <th style="width: 31%;"> LOLO:</a></th>
          <th><span id="IMon-LOLO"> </span></th>
        </tr>
      </table>
      </th>
    </tr>
  </table>
</div>

</div>

<br>
<br>

<div class="row">
<div class="col-lg-5 col-md-5 col-sm-12" style="padding:0">
  <h3 class="hcenter"> DQM Status </h3>
  <table class="table table-striped">
  <tr>
	  <th>Redis DB memory usage: </th>
	  <th><span id="redis-mem"><span id="redis-mem-GB"> </span>GB / <span id="redis-mem-percent"> </span>%</span></th>
	</tr>
	<tr>
	  <th>Redis DB connection: </th>
	  <th><span id="redis-ping"></span></th>
	</tr>
	<tr>
	  <th>Cryo DB connection: </th>
	  <th><span id="ignition-ping"></span></th>
	</tr>
  <tr>
    <th>DAQConsumer: </th>
    <th><span id="OM-status"> </span></th>
  </tr>
  <tr>
    <th>DCS Archiver: </th>
    <th><A HREF=/sbnd/dcs/ target="_blank">Click Here</A></th>
  </tr>
  </table>
</div>

<div class="hcenter col-lg-5 col-md-5 col-sm-12" style="padding:0">
  <h3 class="hcenter">Detector Status</h3>
  <table class="table table-striped">
  <tr>
    <th style="width: 31%;"><a href="{{url_for('event_display')}}">Event Status:</a></th>
    <th><span id="Event-Status"> </span></th>
  </tr>
  <tr>
    <th style="width: 31%;"><a href="{{url_for('TPC_status')}}">TPC Status:</a></th>
    <th><span id="TPC-Status"> </span></th>
  </tr>
  <tr>
    <th style="width: 31%;"><a href="{{url_for('PMT_status')}}">PMT Status:</a></th>
    <th><span id="PMT-Status"> </span></th>
  </tr>
  <tr>
    <th style="width: 31%;"><a href="{{url_for('CRT_status')}}">CRT Status:</a></th>
    <th><span id="CRT-Status"> </span></th>
  </tr>
  <tr>
    <th style="width: 31%;"><a href="{{url_for('PTB_status')}}">Trigger Status:</a></th>
    <th><span id="Trigger-Status"> </span></th>
  </tr>
  </table>
</div>
</div>

{%endblock%}


{% block script %}
<script defer type="module">
import * as Config from "{{ url_for('static', filename='js/minargon/config.js') }}";
import * as Data from "{{ url_for('static', filename='js/minargon/Data.js') }}";
import * as DataLink from "{{ url_for('static', filename='js/minargon/DataLink.js') }}";
import * as Poll from "{{ url_for('static', filename='js/minargon/poll.js') }}";
import {throw_database_error} from "{{ url_for('static', filename='js/minargon/error.js') }}";

// monitor DAQConsumer
var timeout = 5 * 1000; // ms

function time_delta(earlier) {
  var now = moment(new Date).tz("America/Chicago").unix() * 1000. /* s -> ms */;
  return Math.max(0, now - earlier);
}

function is_recent(time, time_is_ok) {
  return time_delta(time) < time_is_ok;
}


function update_is_recent(data_link, spanid, time_is_ok) {
  data_link.get_data(function(err, data) {
    if (err) {
      throw_database_error(err, "update_heartbeat: " + data_link.accessors()[0][0]);
      return;
    }

    var datalist = data.values[data_link.accessors()[0][0]];
    var recent;
    var delta_str = "";
    
    if (datalist.length == 0) {
      recent = false;
    }
    else {
      recent = is_recent(datalist[datalist.length-1][0], time_is_ok);
      var delta = (time_delta(datalist[datalist.length-1][0]) / 1000.).toFixed(0);
      delta_str = " (" + String(delta) + "s)";
    }
    if (recent) {
      $(spanid).text("ON" + delta_str);
      $(spanid).css({"color": "green"});
    }
    else {
      $(spanid).text("OFF" + delta_str);
      $(spanid).css({"color": "red"});
    }
    setTimeout(function() {update_is_recent(data_link, spanid, time_is_ok);}, timeout);
  });

}


var data_link_ar = new Data.D3DataLink(new DataLink.SingleStreamLink($SCRIPT_ROOT + "/online", "archiver_heartbeat"));
update_is_recent(data_link_ar, "#AR-status", 120 * 1000 /* ms */);

var data_link_om = new Data.D3DataLink(new DataLink.SingleStreamLink($SCRIPT_ROOT + "/online", "DAQConsumer")); 
update_is_recent(data_link_om, "#OM-status", 120 * 1000 /* ms*/);


var poll_redis_ping = new Poll.Poll($SCRIPT_ROOT + "/online/ping_redis");
poll_redis_ping.add_callback(function(data) {
    var spanid = "#redis-ping";
    if (data == "True") {
      $(spanid).css({"color": "green"})
      $(spanid).text("ON");
    }
    else {
      $(spanid).css({"color": "red"})
      $(spanid).text("OFF");
    }

});
poll_redis_ping.run();

var poll_redis_mem_gb = new Poll.Poll($SCRIPT_ROOT + "/online/total_memory_usage");
poll_redis_mem_gb.add_callback(function(data) {
    if (!data || !data.val) return;
    var spanid = "#redis-mem-GB";
    $(spanid).text((data.val / (1024 * 1024 * 1024)).toFixed(2));
});
poll_redis_mem_gb.run();

var poll_redis_mem_frac = new Poll.Poll($SCRIPT_ROOT + "/online/total_memory_usage_fraction");
poll_redis_mem_frac.add_callback(function(data) {
    if (!data || !data.val) return;
    var spanid = "#redis-mem-percent";
    $(spanid).text((data.val * 100).toFixed(2));

    spanid = "#redis-mem";
    if (data.val > 0.80) {     $(spanid).css({"color": "red"});
    }
    else {
      $(spanid).css({"color": "green"});
    }
   
});
poll_redis_mem_frac.run();

var poll_ignition_ping = new Poll.Poll($SCRIPT_ROOT + "/ping_ignition");
poll_ignition_ping.add_callback(function(data) {
    var spanid = "#ignition-ping";
    if (data == "True") {
      $(spanid).css({"color": "green"})
      $(spanid).text("ON");
    }
    else {
      $(spanid).css({"color": "red"})
      $(spanid).text("OFF");
    }

});
poll_ignition_ping.run();

// Placeholders for detector status until we have a real status criteria
$("#PMT-Status").text("need alarm limits");
$("#PMT-Status").css({"color": "black"});

$("#Trigger-Status").text("need alarm limits");
$("#Trigger-Status").css({"color": "black"});

// Drift HV
// current status
var BAD_DRIFTHVS = new Set();
var bad_drifthv_pvs = {{bad_drifthv_pvs|tojson|safe}};
{% for pv in bad_drifthv_pvs %}
{ BAD_DRIFTHVS.add("{{pv}}"); }
{% endfor %}
var HV_status = 0;
if (BAD_DRIFTHVS.size > 0) {
  HV_status = 1;
}
//vmon log
var vmon_status = 0;
$("#VMon-Nsamples").html({{vmon_nsamples}});

let vmon_hi_str = "{{vmon_hi}}";
$("#VMon-HI").html(vmon_hi_str);
$("#VMon-HI").css({"color": "green"});
if ( {{vmon_hi}} >  0.005*{{vmon_nsamples}}) {
  $("#VMon-HI").css({"color": "orange"});
}
if ( {{vmon_hi}} >  0.01*{{vmon_nsamples}}) {
  $("#VMon-HI").css({"color": "red"});
  HV_status = 1;
}

let vmon_hihi_str = "{{vmon_hihi}}";
$("#VMon-HIHI").html(vmon_hihi_str);
if (( {{vmon_hihi}} > 0) || ( {{vmon_hihi}} < 5)) {
  $("#VMon-HIHI").css({"color": "orange"});
}
if ( {{vmon_hihi}} > 5 ) {
  $("#VMon-HIHI").css({"color": "red"});
  HV_status = 1;
}
if ( {{vmon_hihi}} == 0) {
  $("#VMon-HIHI").css({"color": "green"});
}

let vmon_lo_str = "{{vmon_lo}}";
$("#VMon-LO").html(vmon_lo_str);
$("#VMon-LO").css({"color": "green"});
if ( {{vmon_lo}} >  0.005*{{vmon_nsamples}}) {
  $("#VMon-LO").css({"color": "orange"});
}
if ( {{vmon_lo}} >  0.01*{{vmon_nsamples}}) {
  $("#VMon-LO").css({"color": "red"});
  HV_status = 1;
}

let vmon_lolo_str = "{{vmon_lolo}}";
$("#VMon-LOLO").html(vmon_lolo_str);
if (( {{vmon_lolo}} > 0) || ( {{vmon_lolo}} < 5)) {
  $("#VMon-LOLO").css({"color": "orange"});
}
if ( {{vmon_lolo}} > 5 ) {
  $("#VMon-LOLO").css({"color": "red"});
  HV_status = 1;
}
if ( {{vmon_lolo}} == 0) {
  $("#VMon-LOLO").css({"color": "green"});
}

//imon log
$("#IMon-Nsamples").html({{imon_nsamples}});

let imon_hi_str = "{{imon_hi}}";
$("#IMon-HI").html(imon_hi_str);
$("#IMon-HI").css({"color": "green"});
if ( {{imon_hi}} >  0.0005*{{imon_nsamples}}) {
  $("#IMon-HI").css({"color": "orange"});
}
if ( {{imon_hi}} >  0.001*{{imon_nsamples}}) {
  $("#IMon-HI").css({"color": "red"});
  HV_status = 1;
}

let imon_hihi_str = "{{imon_hihi}}";
$("#IMon-HIHI").html(imon_hihi_str);
if (( {{imon_hihi}} > 0) || ( {{imon_hihi}} < 5)) {
  $("#IMon-HIHI").css({"color": "orange"});
}
if ( {{imon_hihi}} > 5 ) {
  $("#IMon-HIHI").css({"color": "red"});
  HV_status = 1;
}
if ( {{imon_hihi}} == 0) {
  $("#IMon-HIHI").css({"color": "green"});
}

let imon_lo_str = "{{imon_lo}}";
$("#IMon-LO").html(imon_lo_str);
$("#IMon-LO").css({"color": "green"});
if ( {{imon_lo}} >  0.05*{{imon_nsamples}}) {
  $("#IMon-LO").css({"color": "orange"});
}
if ( {{imon_lo}} >  0.025*{{imon_nsamples}}) {
  $("#IMon-LO").css({"color": "red"});
  HV_status = 1;
}

let imon_lolo_str = "{{imon_lolo}}";
$("#IMon-LOLO").html(imon_lolo_str);
if (( {{imon_lolo}} > 0) || ( {{imon_lolo}} < 5)) {
  $("#IMon-LOLO").css({"color": "orange"});
}
if ( {{imon_lolo}} > 5 ) {
  $("#IMon-LOLO").css({"color": "red"});
  HV_status = 1;
}
if ( {{imon_lolo}} == 0) {
  $("#IMon-LOLO").css({"color": "green"});
}

if (HV_status == 1) {
  let bad_drifthvs_str = "NOT OK";
  $("#DriftHV-Status").html(bad_drifthvs_str);
  $("#DriftHV-Status").css({"color": "red"});
}
else {
  $("#DriftHV-Status").text("OK");
  $("#DriftHV-Status").css({"color": "green"});
}


// TPCs
var DISCONNECTED_PLANE = new Set();
var BAD_PLANES = new Set();
var TPC_ON = 1;

{% for tpc_plane in tpc_planes %}
{% set tpc_channels = tpc_channels[loop.index0]|tojson %}
{% set tpc_title = tpc_titles[loop.index0] %}
{
var tpc_config_controller = new Config.GroupConfigController({{tpc_config|tojson|safe}}, undefined, ["rms"], {{tpc_channels}}, 0, 25, "", undefined, "");
var tpc_data_link = tpc_config_controller.data_link(0, ["rms"], undefined, 1);
var tpc_poll = new Data.D3DataPoll(tpc_data_link, 60000);
var tpc_buffer = new Data.D3DataBuffer(tpc_poll, 1, [
  function(data) {
    var rms_data = data;

    var plane_has_data = false;
    var plane_has_bad_rms = false;

    for (var i = 0; i < rms_data.length; i++) {
      var rms = rms_data[i].get_last()[1];
      
      if (rms > 0) {
        plane_has_data = true; // Count channels with no data
      }
      
      // Skip the max rms requirement for noisy wires on west induction planes
      var skip = false;
      if (('{{ tpc_plane }}' === 'West-U' && i === 1531) || ('{{ tpc_plane }}' === 'West-V' && i === 756)) {
          skip = true;
      }

      if (!skip && rms > {{ tpc_rms_max }}) {
          plane_has_bad_rms = true;
          break; // Exit the loop early since we found a bad RMS value
      }
    }

    if (!plane_has_data) {
      DISCONNECTED_PLANE.add('{{ tpc_title }}');
    }
    else {
      DISCONNECTED_PLANE.delete('{{ tpc_title }}');
    }

    if (plane_has_bad_rms) {
      BAD_PLANES.add('{{ tpc_title }}');
    }
    else {
      BAD_PLANES.delete('{{ tpc_title }}');
    }

    if (DISCONNECTED_PLANE.size == 6) {
      TPC_ON = 0;
      $("#TPC-Status").text("TPC DAQ disconnected from DQM");
      $("#TPC-Status").css({"color": "orange"});
    } 
    else if (BAD_PLANES.size > 0) {
      let bad_planes_str = "NOT OK. "+"<a href={{url_for('TPC_metrics_per_plane')}}>Bad Planes: </a>" + Array.from(BAD_PLANES).sort().join(", ");
      $("#TPC-Status").html(bad_planes_str);
      $("#TPC-Status").css({"color": "orange"});
    }
    else {
      $("#TPC-Status").text("OK");
      $("#TPC-Status").css({"color": "green"});
    }  
  }
]);
tpc_buffer.start();
}
{% endfor %}

// Events
var broken = 0;
var event_config = {{event_config|tojson|safe}};

{% for event in events %}
{% set event_channels = event_channels[loop.index0]|tojson %}
{

var event_config_controller = new Config.GroupConfigController(event_config, undefined, ["broken"], {{event_channels}}, 0, 25, "", undefined, undefined);

var event_data_link = event_config_controller.data_link(0, ["broken"], undefined, 1);
var event_poll = new Data.D3DataPoll(event_data_link, 60*1000 /* 1 minute */);
var event_buffer = new Data.D3DataBuffer(event_poll, 1, [
  function(data) {
    
    var event_channels = {{event_channels}};
    var broken_data = data;
    var broken = broken_data[0].get_last()[1];

    if (broken == 1){
      $("#Event-Status").text("Not OK -- check event display");
      $("#Event-Status").css({"color": "red"});
    }
    else {
      $("#Event-Status").text("OK");
      $("#Event-Status").css({"color": "green"});
    }
  }
]);
event_buffer.start();
}
{% endfor %}


//CRTs

var baseline_sum = 0;
var BAD_CRTS = new Set();
var crt_config = {{config|tojson|safe}};

{% for crt in crts %}
{% set crt_channels = channels[loop.index0]|tojson %}
{

var crt_config_controller = new Config.GroupConfigController(crt_config, undefined, ["baseline"], {{crt_channels}}, 0, 25, "", undefined, undefined);

var crt_data_link = crt_config_controller.data_link(0, ["baseline"], undefined, 1);
var crt_poll = new Data.D3DataPoll(crt_data_link, 60*1000 /* 1 minute */);
var crt_buffer = new Data.D3DataBuffer(crt_poll, 1, [
  function(data) {
    
    var crt_channels = {{crt_channels}};
    var baseline_data = data;

    for (var i = 0; i < crt_channels.length; i++) {

      if (baseline_data[i].size > 0) {
        var baseline = baseline_data[i].get_last()[1];
        baseline_sum += baseline;
      }


      if ( (baseline < {{baseline_min}}) || (baseline > {{baseline_max}}) )
      {
        var channel_str = String(crt_channels[i]);
        BAD_CRTS.add(channel_str);
      }

    }

    if (baseline_sum == 0){
      $("#CRT-Status").text("CRT DAQ disconnected from DQM");
      $("#CRT-Status").css({"color": "orange"});
    }
    else if (BAD_CRTS.size > 0) {
      let bad_crts_str = "NOT OK. Bad channels: " + Array.from(BAD_CRTS).join(" ");
      $("#CRT-Status").html(bad_crts_str);
      $("#CRT-Status").css({"color": "red"});
    }
    else {
      $("#CRT-Status").text("OK");
      $("#CRT-Status").css({"color": "green"});
    }
  }
]);
crt_buffer.start();
}
{% endfor %}
</script> 
<meta http-equiv="refresh" content="30">
{%endblock%}
