{% extends "layout.html" | front_ended %}
{% block title %}Introduction to Minargon{% endblock %}
{% block body %}
{{ super() }}
<div class="col-md-8 hcenter">
<h1>
SBND Online Monitoring
</h1>
<p>
Online monitoring website for SBND (under development, email munjung@uchicago.edu for more info). 
</p>

<div class="col-lg-5 col-md-5 col-sm-12" style="padding:0">
	<h3 class="hcenter"> 
		Meta Data
  </h3>

  <table class="table table-striped">
	<tr>
	  <th> dcs_prd disk usage: </th>
		<th><span id="dcs_prd-disk_usage"> </span></th>	
  </tr>
	</table>
</div>


{%endblock%}
