{% import "stream_options_macro.html" | common as stream_options %}

{% extends "layout.html" | front_ended %}
{% block title %}PMT Alarms{% endblock %}
{% block body %}
{{ super() }}
<div class="container">

{% if eventmeta_key %}
<div class="row">
<table class="hcenter" style="width: 50%; text-align: center;">
  <tr>
    <th>Run: <span id="run-number"></span></th>
    <th>Subrun: <span id="subrun-number"></span></th>
    <th>Event: <span id="event-number"></span></th>
    <th>Timestamp: <span id="timestamp"></span></th>
  </tr>
</table>
</div>
{% endif %}

<div class="row">
<h4 class="hcenter">
Limits on baseline are between {{baseline_min}} and {{baseline_max}}.
Limits on rms are between {{rms_min}} and {{rms_max}}.
</h4>
</div>
<br>
<br>


{% for pmt in pmts %}
{% if loop.index0 % 3 == 0 %}
  <div class="row">
{% endif %}
    <div class="col-lg-4 col-md-4" style="padding:0">
      <h3>
      </h3>
      <table class="table table-striped" id="pmt">
      <thead>
        <tr>
          <th> Bad Channels </th>
          <th> Baseline </th>
          <th> RMS </th>
        </tr>
        </thead>
      </table>
    </div>

{% if loop.index0 % 3 == 2 %}
  </div>
  <br>
{% endif %}

{% endfor %}

{%endblock%}
{% block script %}
<script defer type="module">
import * as Config from "{{ url_for('static', filename='js/minargon/config.js') }}";
import * as Data from "{{ url_for('static', filename='js/minargon/Data.js') }}";
import * as Poll from "{{ url_for('static', filename='js/minargon/poll.js') }}";

var config = {{config|tojson|safe}};

// setup each plane poll
{% for pmt in pmts %}
  {% set channels = channels[loop.index0]|tojson %}
{

// Setup the config
var config_controller = new Config.GroupConfigController(config, undefined, ["rms", "baseline"], {{channels}}, 0, 25);

// Use the config to get the DataLink
var data_link = config_controller.data_link(0, ["rms", "baseline"], undefined, 1);

// Turn that DataLink into a DataBuffer
var poll = new Data.D3DataPoll(data_link, 60*1000 /* 1 minute */);
var buffer = new Data.D3DataBuffer(poll, 5, [
  function(data) {
    var channels = {{channels}};
    var isbad = [];

    var rms_data = data.slice(0, channels.length);
    var baseline_data = data.slice(channels.length);

    var baselines = [];
    var rmss = [];
 
    for (var i = 0; i < channels.length; i++) {

      if ( i >= 120) { // only 120 channels, the rest above are clock channels
        continue;
      }
    
      var this_baseline_data = baseline_data[i];
      var baseline = 0.;
      for (var j = 0; j < this_baseline_data.size; j++) {
        var baseline = baseline + this_baseline_data.get(j)[1]/this_baseline_data.size ;
      }


      var this_rms_data = rms_data[i];
      var rms = 0.;
      for (var j = 0; j < this_rms_data.size; j++) { 
        rms = rms + this_rms_data.get(j)[1] / this_rms_data.size;
      }
          
 
      baselines.push(baseline);
      rmss.push(rms);

      var bad = (this_rms_data.size > 0) && ( (baseline < {{baseline_min}}) || (baseline > {{baseline_max}}) || (rms < {{rms_min}}) || (rms > {{rms_max}}));
      
      if (bad)  {
        isbad.push(i);
      }
    }

    var header = `
        <thead>
        <tr>
          <th> Bad Channels </th>
          <th> RMS </th> 
          <th> Baseline </th>

        </tr>
        </thead>
        <tbody>`;

    var table_html = header;

    var cred = 'style="background-color: red"';
    for (var i = 0; i < isbad.length; i++) {
    
      var ind = isbad[i];

      var row = `
          <tr>
            <th ` + cred + `><a href="{{url_for('PMT_snapshot')}}?PMT=` + channels[ind] + `">`  + channels[ind] + `</th>
            <th>` + rmss[ind].toFixed(2) +  `</th>
            <th>` + baselines[ind].toFixed(2) +  `</th>
          </tr>`; 
      table_html = table_html.concat(row);
    }
    table_html = table_html + "</tbody>";

    $("#pmt").html(table_html);
  }
]);

buffer.start();
}
{% endfor %}

{% if eventmeta_key %}
var poll = new Poll.Poll($SCRIPT_ROOT + "/online/hget/{{eventmeta_key}}/run,subrun,event,time");
poll.add_callback(function(data) {
    $("#run-number").html(data.run);
    $("#subrun-number").html(data.subrun);
    $("#event-number").html(data.event);
    var time = moment(new Date(parseInt(data.time)));
    $("#timestamp").html(time.format("MM/DD HH:mm:ss"));
});
poll.run();
{% endif %}

</script>
{% endblock %}


