{% import "stream_options_macro.html" | common as stream_options %}
{% extends "layout.html" | front_ended %}
{% block title %}Timing Alarms{% endblock %}
{% block body %}
{{ super() }}

<div class="container">
<div class="row">
<h1 class="hcenter">
  Timing Status
</h1>
</div>

<br>

{% if eventmeta_key %}
<div class="row">
<table class="hcenter" style="width: 50%; text-align: center;">
  <tr>
    <th>Run: <span id="run-number"></span></th>
    <th>Subrun: <span id="subrun-number"></span></th>
    <th>Event: <span id="event-number"></span></th>
    <th>Timestamp: <span id="timestamp"></span></th>
  </tr>
</table>
</div>
{% endif %}

<br>

<div class="container">
  <div class="row">

    <div class="col-lg-4">
      <div class="container">
        <div class="row">
          <h3>Beam</h3>
        </div>
        <div class="row">
          <table class="table table-striped" id="channel_metrics_0">
            <thead>
              <tr>
                <th>Metric Name</th>
                <th>Metric Value</th>
              </tr>
            </thead>
            {% for this_metric in metrics[0] %}
            <tr>
              <th>{{ this_metric }}</th>
              <th><span id="timeseries-0-{{ loop.index0 }}"></span></th>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="container">
        <div class="row">
          <h3>Off Beam</h3>
        </div>
        <div class="row">
          <table class="table table-striped" id="channel_metrics_1">
            <thead>
              <tr>
                <th>Metric Name</th>
                <th>Metric Value</th>
              </tr>
            </thead>
            {% for this_metric in metrics[1] %}
            <tr>
              <th>{{ this_metric }}</th>
              <th><span id="timeseries-1-{{ loop.index0 }}"></span></th>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
   <div class="col-lg-4">
      <div class="container">
        <div class="row">
          <h3>Crossing Muon</h3>
        </div>
        <div class="row">
          <table class="table table-striped" id="channel_metrics_2">
            <thead>
              <tr>
                <th>Metric Name</th>
                <th>Metric Value</th>
              </tr>
            </thead>
            {% for this_metric in metrics[2] %}
            <tr>
              <th>{{ this_metric }}</th>
              <th><span id="timeseries-2-{{ loop.index0 }}"></span></th>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>

  </div>
</div>

{%endblock%}
{% block script %}
<script defer type="module">
import * as Config from "{{ url_for('static', filename='js/minargon/config.js') }}";
import * as Data from "{{ url_for('static', filename='js/minargon/Data.js') }}";
import * as DataLink from "{{ url_for('static', filename='js/minargon/DataLink.js') }}";
import * as Poll from "{{ url_for('static', filename='js/minargon/poll.js') }}";

var config = {{config|tojson|safe}};
var channels = undefined;

{% for i in range(3) %}
  {
  {% for metric in metrics[i] %}
  {

  var metric = {{ metric|tojson }};
  var config_controller = new Config.GroupConfigController(config, undefined, [metric], [{{i}}], 0, 10)
  var data_link = config_controller.data_link(0, [metric], undefined, 1);

  var poll = new Data.D3DataPoll(data_link, 10*60*1000 /* 10 minutes */);
  var buffer = new Data.D3DataBuffer(poll, 5, [ // last parameter is number of events to use
    function(data) {
      var timing_data = data;
      for (var i = 0; i < timing_data.length; i++) {
	      var timing = timing_data[i].get_last()[1];
        $("#timeseries-{{i}}-{{loop.index0}}").html(timing.toFixed(2)); //Update the html with the last value of the data
      }
    }
  ]);
  buffer.start();
  }
  {% endfor %}
}
{% endfor %}

{% if eventmeta_key %}
var poll = new Poll.Poll($SCRIPT_ROOT + "/online/hget/{{eventmeta_key}}/run,subrun,event,time");
poll.add_callback(function(data) {
    $("#run-number").html(data.run);
    $("#subrun-number").html(data.subrun);
    $("#event-number").html(data.event);
    var time = moment(new Date(parseInt(data.time)));
    $("#timestamp").html(time.format("MM/DD HH:mm:ss"));
});
poll.run();
{% endif %}

</script>
</div>
{% endblock %}


