{% import "stream_options_macro.html" | common as stream_options %}

{% extends "layout.html" | front_ended %}
{% block title %}Stream: {{ var }}{% endblock %}

{# ------------------------------ Html Body --------------------------------- #}
{% block body %}
{{ super() }}
<!-- Variable Header -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-only-glyphicons.css') }}" media="screen">
<h1><center>Sunset Rate</center></h1>
<hr>

<div class="row">
<div class="col-md-8 col-sm-6 hcenter" style="padding:0">
<img id="picture" src="data:image/jpeg;base64,{{ imgs }}" width="600" height="300">
</div>

<div class="container">

    
    <!--  Loop over IDs -->
    {% for ID in IDs %}
        <!-- Plot and Options -->
        <div class="row">
            <!-- Plot -->
            <div class="col-md-8">
                <!-- plotly div -->
                <div style="padding:0" id="plotly-controller-{{ ID }}"></div>
            </div>
            
            <!-- Options -->
            <div class="col-md-4 vcenter">
                <div class="card hcenter">
                    <div class="card-header">Display Options</div>
                    <div class="card-body">
                        <form class="form" role="form">
                            {{ stream_options.time_range("start", "end", "toggle") }}
                            {{ stream_options.download("download") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Plot -->
            <div class="col-md-8">
                <!-- plotly div -->
                <h2 class="hcenter">Rolling Mean</h2>
                <div style="padding:0" id="plotly-controller-mean-{{ ID }}"></div>
            </div>
            
            <!-- Options -->
            <div class="col-md-4 vcenter">
                <div class="card hcenter">
                    <div class="card-header">Display Options</div>
                    <div class="card-body">
                        <form class="form" role="form">
                            {{ stream_options.time_range("start-mean", "end-mean", "toggle-mean") }}
                            {{ stream_options.download("download-mean") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Horizontal Break -->
        <hr>
    {% endfor %}

</div>
{% endblock %}

{# ------------------------------ Javascript -------------------------------- #}
{% block script %}
<script defer type="module">
    //import * as module from "{{ url_for('static', filename='js/minargon/epicstimeseries_mean.js') }}";
    import * as module from "{{ url_for('static', filename='js/minargon/epicstimeseries.js') }}";
    
    // Get the elements and convert to JSON
    var IDs_ = {{ IDs | tojson }};
    var configs_ = {{ configs | tojson }};

    // Loop over each ID
    for (var i = 0; i < IDs_.length; i++) {

        // Build the link
        var link = new module.Data.D3DataLink(new module.DataLink.EpicsStreamLink($SCRIPT_ROOT, "{{ database }}", IDs_[i], configs_[i] ));
        // var link_mean = new module.Data.D3DataLink(new module.DataLink.EpicsStreamLinkMean($SCRIPT_ROOT, "{{ database }}", IDs_[i], configs_[i] ));
        var controller  = "plotly-controller-"+IDs_[i];
        var start_id    = "#start";
        var end_id      = "#end";
        var toggle_id   = "#toggle";
        var download_id = "#download";

        var link_mean = new module.Data.D3DataLink(new module.DataLink.EpicsStreamLinkMean($SCRIPT_ROOT, "{{ database }}", IDs_[i], configs_[i] ));
        var controller_mean  = "plotly-controller-mean-"+IDs_[i];
        var start_id_mean    = "#start-mean";
        var end_id_mean      = "#end-mean";
        var toggle_id_mean   = "#toggle-mean";
        var download_id_mean = "#download-mean";

        // Build plotly controller
        var plotly_controller = new module.PlotlyController(controller, link, ["Sunsets/min", "mean"], configs_[i])
            .timeRangeController(start_id, end_id, toggle_id)
            .downloadDataController(download_id )
        plotly_controller.setYRanges([[0, 500]]);
        plotly_controller.setYTitles(["Sunsets/min"]);
        plotly_controller.setPlotTitle("");

        var plotly_controller_mean = new module.PlotlyController(controller_mean, link_mean, [""], configs_[i])
            .timeRangeController(start_id_mean, end_id_mean, toggle_id_mean)
            .downloadDataController(download_id_mean)
        plotly_controller_mean.setYRanges([[0, 500]]);
        plotly_controller_mean.setYTitles(["Sunsets/min"]);
        plotly_controller_mean.setPlotTitle("");

        // Start it
        plotly_controller.run();
        plotly_controller_mean.run();
    }

</script>
{% endblock %}
{# ---------------------------------- End ----------------------------------- #}
