{% import "stream_options_macro.html" | common as stream_options %}

{% extends "layout.html" | front_ended %}
{% block title %}{{title}}{% endblock %}
{% block body %}
{{ super() }}
<div class="container">
  {% if eventmeta_key %}
  <div class="row">
    <table class="hcenter" style="width: 50%; text-align: center;">
      <tr>
        <th>Run: <span id="run-number"></span></th>
        <th>Subrun: <span id="subrun-number"></span></th>
        <th>Event: <span id="event-number"></span></th>
        <th>Timestamp: <span id="timestamp"></span></th>
      </tr>
    </table>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-lg-6 col-md-12 order-1" style="padding:0">
      <div id="histogram"></div>
    </div>
    <div class="col-lg-6 col-md-12 order-2" style="padding:0">
      <div id="scatter"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-12 order-1 vcenter" style="padding:0">
      <div id ="time-scatter"></div>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 vcenter order-2 hcenter">
      <div class="card">
        <div class="card-header">TimeSeries Options</div>
          <div class="card-body">
            <form class="form" role="form">
              {{ stream_options.time_range("start", "end", "toggle") }}
              {{ stream_options.download("download") }}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% for pmt in pmts %}
  <div class="row">
    <div class="col-lg-6 col-md-12 order-1" style="padding:0" id="EW-holder-{{pmt}}">
      <div id="EW-{{pmt}}"></div>
    </div>
    <div class="col-lg-6 col-md-12 order-2" style="padding:0" id="RWM-holder-{{pmt}}">
      <div id="RWM-{{pmt}}"></div>
    </div>
  </div>
  {% endfor %}
</div>
{%endblock%}
{% block script %}
<script defer type="module">
import * as Config from "{{ url_for('static', filename='js/minargon/config.js') }}";
import * as Poll from "{{ url_for('static', filename='js/minargon/poll.js') }}";
import * as draw from "{{ url_for('static', filename='js/minargon/draw_waveform.js') }}";

// get the configuration
var config = {{config|tojson|safe}};

{% if channels and channels != "undefined" %}
  {% set channels = channels|tojson %}
{% endif %}

{% if channel_map and channel_map != "undefined" %}
  {% set channel_map = channel_map|tojson %}
{% endif %}

{% if hw_select and hw_select != "undefined" %}
  {% set hw_select = hw_select|tojson %}
{% endif %}

var channels = {{channels}};

var config_controller = new Config.GroupConfigController(config, {{link_function}}, ["{{metric}}"], channels, 0, 25, {{hw_select}}, {{channel_map}})
    .metricController("#form-metric")
    .streamController("#form-stream"); 

// add the scatter plot
var scatter = config_controller.addGroupDataScatterController("scatter", "{{title}}")
  .rangeController("#form-range-lo", "#form-range-hi", false)
  .warningrangeController("#form-warning-range-lo", "#form-warning-range-hi")
  .set();

// and histogram
var histo = config_controller.addGroupDataHistoController("histogram", "{{title}}")
  .rangeController("#form-range-lo", "#form-range-hi", false)
  .set();

// build plotly controller
var plotly = config_controller.addPlotlyController("time-scatter")
   .timeRangeController("#start", "#end", "#toggle")
   .downloadDataController("#download");

// start the controllers
if ((channels && channels.length > 0) || (config.instances && config.instances.length > 0)) {
  config_controller.runAll();
}
else {
  alert("No channels available!");
}

// add the waveforms plot
var beam = "{{metric}}";
if (beam.substring(0, 3)=='BNB')
  beam = beam.substring(0, 3);
else if (beam.substring(0, 4)=='NUMI')
  beam = beam.substring(0, 4);

var ew = beam + "_EW";
var rwm = beam + "_RWM";


{% for pmt in pmts %}
  draw.draw_waveform("EW-{{pmt}}", {[ew]: {{pmt}} }, "waveform", beam + " EW Waveform");
  draw.draw_waveform("RWM-{{pmt}}", [rwm]: {{pmt}} }, "waveform", beam + " RWM Waveform");
{% endfor %}

// setup polling for event/run/subrun/time
{% if eventmeta_key %}
var poll = new Poll.Poll($SCRIPT_ROOT + "/online/hget/{{eventmeta_key}}/run,subrun,event,time");
poll.add_callback(function(data) {
    $("#run-number").html(data.run);
    $("#subrun-number").html(data.subrun);
    $("#event-number").html(data.event);
    var time = moment(new Date(parseInt(data.time)));
    $("#timestamp").html(time.format("MM/DD HH:mm:ss"));
});
poll.run();
{% endif %}

</script>
{% endblock %}
