{% import "stream_options_macro.html" | common as stream_options %}

{% extends "layout.html" | front_ended %}
{% block title %}{{title}}{% endblock %}
{% block body %}
{{ super() }}
<div class="container">
<div class="row">
<h1>TPC Purity</h1>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12" style="padding:0">
      <div id ="time-scatter"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 hcenter vcenter">
        <div class="card hcenter">
            <div class="card-header">Options</div>
            <div class="card-body">
                <form class="form" role="form">
                    {{ stream_options.metric_option(config["metric_config"], "lifetime_raw", "form-metric") }}
                    {{ stream_options.stream_option(config.streams, config.streams[0], "form-stream") }}
                    {{ stream_options.time_range("start", "end", "toggle") }}
                    {{ stream_options.download("download") }}
                </form>
           </div>  
       	</div>    
    </div>
</div>

</div>
{%endblock%}
{% block script %}
<script defer type="module">
import * as Config from "{{ url_for('static', filename='js/minargon/config.js') }}";

// get the configuration
// var config = new timeseries.TimeSeries({{config|tojson|safe}});
var config = {{config|tojson|safe}};

var config_controller = new Config.GroupConfigController(config, undefined, ["lifetime_raw"], undefined, 0, 25)
    .metricController("#form-metric")
    .streamController("#form-stream"); 

// build plotly controller
var plotly = config_controller.addPlotlyController("time-scatter")
   .timeRangeController("#start", "#end", "#toggle")
   .downloadDataController("#download");

// start the controllers
config_controller.runAll();

</script>
{% endblock %}
