{% extends "layout.html" | front_ended %}

{% block title %}ICARUS Cathod Drift HV Supply Status{% endblock %}

{% block body %}
{{ super() }}
<h2>ICARUS TPC Power Supply Status Flange {{flange.upper()}}</h2>

<TABLE id="main_table">
    <TR><TH>&nbsp;</TH><TH>m52</TH><TH>p12</TH><TH>p33</TH><TH>p82</TH></TR>
    <tr>
        <td>
            <table id="names">
                <tr><th>Flanges</th></tr>
            </table>
        </td>
        <td>
            <table id="m52">
                <tr><th>Voltage (V)</th><th>Temperature (%deg;C)</th><th>Current (A)</th></tr>
            </table>
        </td>
        <td>
            <table id="p12">
                <tr><th>Voltage (V)</th><th>Temperature (%deg;C)</th><th>Current (A)</th></tr>
            </table>
        </td>
        <td>
            <table id="p33">
                <tr><th>Voltage (V)</th><th>Temperature (%deg;C)</th><th>Current (A)</th></tr>
            </table>
        </td>
        <td>
            <table id="p82">
                <tr><th>Voltage (V)</th><th>Temperature (%deg;C)</th><th>Current (A)</th></tr>
            </table>
        </td>
    </tr>
</table>


{%endblock%}

{% block script %}
<link href="{{ url_for('static', filename='css/lights.css') }}" rel="stylesheet" type="text/css">
<script src="{{ url_for('static', filename='js/lights.js') }}"></script>
    <style>
      table
      {
        border:1px solid black;padding:5px;font-size: 100%
      }
      td
      {
        text-align:right;
        border:1px solid grey;padding:5px;
      }
      th
      {
        text-align:center;
        border:1px solid grey;padding:5px;
      }
      body
      {
        margin: 28px;
      }
    </style>

<!-- Populate above table -->
<script type="text/javascript">
$(document).ready(function() {
  {%set volt = rows[0][0]%}
  {%set temp = rows[0][1]%}
  console.log('{{temp[0]}}');

  {%set curr = rows[0][2]%}
  var flange = "{{flange}}";
  console.log(flange);
  {%for i in range(volt|length)%} {
    var f = "{{volt[i][1]}}";
        var tr_names = document.createElement("tr");
        var tr_m52 = document.createElement("tr");
        var tr_p12 = document.createElement("tr");
        var tr_p33 = document.createElement("tr");
        var tr_p82 = document.createElement("tr");
        var ii = {{i}}*4;
        {% if i*4 < volt|length %}
            console.log(ii);
            console.log('{{volt|length}}');
            tr_names.innerHTML = "<td id='flange{{volt[i*4][2]}}'>{{volt[i*4][2]}}</td>";
        {% endif %}
        var t = "{{volt[i][3]}}";
        if (t == "m52") {
            tr_m52.innerHTML = "<td id='volt{{volt[i][2]}}'><a href='{{ url_for('pv_single_stream', database=connection, ID=volt[i][0]) }}'>{{volt[i][5]}}</a></td><td id='temp{{volt[i][2]}}'><a href='{{ url_for('pv_single_stream', database=connection, ID=temp[i][0]) }}'>{{temp[i][5]}}</a></td><td id='curr{{volt[i][2]}}'><a href='{{ url_for('pv_single_stream', database=connection, ID=curr[i][0]) }}'>{{curr[i][5]}}</a></td>";
        } else if (t == "p12") {
            tr_p12.innerHTML = "<td id='volt{{volt[i][2]}}'><a href='{{ url_for('pv_single_stream', database=connection, ID=volt[i][0]) }}'>{{volt[i][5]}}</a></td><td id='temp{{volt[i][2]}}'><a href='{{ url_for('pv_single_stream', database=connection, ID=temp[i][0]) }}'>{{temp[i][5]}}</a></td><td id='curr{{volt[i][2]}}'><a href='{{ url_for('pv_single_stream', database=connection, ID=curr[i][0]) }}'>{{curr[i][5]}}</a></td>";
        } else if (t == "p33") {
            tr_p33.innerHTML = "<td id='volt{{volt[i][2]}}'><a href='{{ url_for('pv_single_stream', database=connection, ID=volt[i][0]) }}'>{{volt[i][5]}}</a></td><td id='temp{{volt[i][2]}}'><a href='{{ url_for('pv_single_stream', database=connection, ID=temp[i][0]) }}'>{{temp[i][5]}}</a></td><td id='curr{{volt[i][2]}}'><a href='{{ url_for('pv_single_stream', database=connection, ID=curr[i][0]) }}'>{{curr[i][5]}}</a></td>";
        } else if (t == "p82") {
            tr_p82.innerHTML = "<td id='volt{{volt[i][2]}}'><a href='{{ url_for('pv_single_stream', database=connection, ID=volt[i][0]) }}'>{{volt[i][5]}}</a></td><td id='temp{{volt[i][2]}}'><a href='{{ url_for('pv_single_stream', database=connection, ID=temp[i][0]) }}'>{{temp[i][5]}}</a></td><td id='curr{{volt[i][2]}}'><a href='{{ url_for('pv_single_stream', database=connection, ID=curr[i][0]) }}'>{{curr[i][5]}}</a></td>";
        }
    document.getElementById("names").appendChild(tr_names);
    document.getElementById("m52").appendChild(tr_m52);
    document.getElementById("p12").appendChild(tr_p12);
    document.getElementById("p33").appendChild(tr_p33);
    document.getElementById("p82").appendChild(tr_p82);
  }
  {%endfor%}
});
</script>


<!--<meta http-equiv="refresh" content="15">-->
<!-- </html> -->
{%endblock%}
